.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 100vh;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1{
  color: #b6c5ff;
}

p{
  color: #7e858e;
}